{
  "swagger": "2.0",
  "info": {
    "title": "Power BI Source Control",
    "description": "A custom Power BI connector to backup reports from the service",
    "version": "1.0"
  },
  "host": "api.PowerBI.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/v1.0/myorg/groups/{groupId}/reports/{reportId}/Export": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Export Report",
        "description": "Export a report from Power BI",
        "operationId": "ExportReport",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "reportId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/v1.0/myorg/groups": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get All Workspaces",
        "description": "Return all Power BI workspaces",
        "operationId": "GetAllWorkspaces",
        "parameters": []
      }
    },
    "/v1.0/myorg/groups/{groupId}/reports": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get all Reports",
        "description": "Get all reports from Power BI Workspace",
        "operationId": "GetAllReports",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://login.windows.net/common/oauth2/authorize",
      "tokenUrl": "https://login.windows.net/common/oauth2/authorize",
      "scopes": {}
    }
  },
  "security": [
    {
      "oauth2_auth": []
    }
  ],
  "tags": []
}